@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  background-color: #e1e6ec;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 6px;
  width: 300px;
  border-radius: 8px;
  background-color: #e1e6ec;
  box-shadow: 5px 5px 11px #a2b1c6, -5px -5px 11px #fff;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.wrapper {
  position: relative;
}
.container img {
  width: 80%;
}
.container h1 {
  font-size: 1.5rem;
  margin: 12px 0 12px 0;
}
.buttons {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.buttons button {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 16px;
  border-radius: 90px;
  background-color: #e1e6ec;
  text-align: left;
  margin: 10px 9px;
  border: none;
  box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 11px #fff;
  /*background:linear-gradient(-45deg,#a2b1c6,#fff);*/
}
.buttons button:active {
  background: #e1e6ec;
  box-shadow: inset 2px 2px 5px #a2b1c6, -2px -2px 11px #fff;
}
.buttons button img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 42%;
  height: 42%;
}

.level {
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
  background: #e1e6ec;
  box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 12px #fff;
  border-radius: 50px;
  margin: 12px 0;
}
.level::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #a2b1c6;
  box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 90px;
}
.level::-moz-range-thumb {
  width: 50px;
  height: 50px;
}
